#### Web Scraping Challenge
#Maria Barrera -- 03/14/2021

In [1]:
# Import BeautifulSoup
from bs4 import BeautifulSoup

In [2]:
# Import Splinter and set the chromedriver path
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser("chrome", **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [C:\Users\mbarr\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
import pandas as pd
import requests
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo

In [4]:
# import time

#### NASA Mars News Site 
Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
Assign the text to variables that you can reference later.

url = https://mars.nasa.gov/news/

In [5]:
# Visit the following URL
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [6]:
# Scrape page into Soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup

#Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. 
#Assign the text to variables that you can reference later.

In [7]:
# Get the article date
#news_date = soup.find_all('div', class_ = 'list_date')[1].text
#news_date

In [8]:
# Get the latest News Title and Paragraph Text.
news_title = soup.find_all('div', class_ = 'content_title')[0].text
news_title

'Mars Now'

In [9]:
news_paragraph = soup.find_all('div', class_ = 'article_teaser_body')[0].text
news_paragraph

'Data from the powerful science tool includes sounds of its laser zapping a rock in order to test what it’s made of.'

#### JPL Mars Space Images - Featured Image   
Use splinter to navigate the site and find the image url for the current Featured Mars Image and 
assign the url string to a variable called featured_image_url.
ex.  featured_image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg'

In [10]:
# Visit the following URL
url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html'
browser.visit(url)

### HELP! -- how to handle this error which pops up occasionally when running previous cell

WebDriverException: Message: chrome not reachable
  (Session info: chrome=89.0.4389.82)

In [11]:
# Scrape page into Soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup

In [12]:
time.sleep(1)

In [13]:
# Scrape page into Soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup

In [ ]:
# full image link address
#ref: https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars3.jpg

# help!

In [15]:
# Retrieve featured image link
relative_image_path = soup.find_all('img')[3]["src"]
featured_image_url = url + relative_image_path
featured_image_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.htmlimage/mars/Proctor Crater Dunes 7.jpg'

In [ ]:
https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg

#### Mars Facts
Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about 
the planet including Diameter, Mass, etc.

Use Pandas to convert the data to a HTML table string.
url = https://space-facts.com/mars/

In [16]:
# Visit the following URL
url = 'https://space-facts.com/mars/'
browser.visit(url)

In [17]:
# Scrape page into Soup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
#soup

In [18]:
# Scrape the table containing facts about the planet (Mars) including Diameter, Mass, etc.
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [20]:
mars_df = tables[2]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
# rename columns (0 = Desc, 1 = Value)
mars_df.columns = ["Desc", "Value"]
mars_df

                   Desc                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
# save table as html file named: data_table.html
mars_df.to_html("mars_data.html")

In [25]:
# assign it to a variable (string) 
html_mars_table = mars_df.to_html()
html_mars_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Desc</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

#costa rica sample -- for reference only

def scrape_info():
    browser = init_browser()

    # Visit visitcostarica.herokuapp.com
    url = "https://visitcostarica.herokuapp.com/"
    browser.visit(url)

    time.sleep(1)

    # Scrape page into Soup
    html = browser.html
    soup = bs(html, "html.parser")

    # Get the average temps
    avg_temps = soup.find('div', id='weather')

    # Get the min avg temp
    min_temp = avg_temps.find_all('strong')[0].text

    # Get the max avg temp
    max_temp = avg_temps.find_all('strong')[1].text

    # BONUS: Find the src for the sloth image
    relative_image_path = soup.find_all('img')[2]["src"]
    sloth_img = url + relative_image_path

    # Store data in a dictionary
    costa_data = {
        "sloth_img": sloth_img,
        "min_temp": min_temp,
        "max_temp": max_temp
    }

    # Close the browser after scraping
    browser.quit()

    # Return results
    return costa_data


#For standalone test
if __name__ == "__main__":
    data = scrape_info()
    print(data)

In [26]:
# Close the browser after scraping
browser.quit()

In [ ]:
# For standalone test
if __name__ == "__main__":
    data = scrape_info()
    print(data)